.formContainer{
    background: #ffff;
    border-radius: 4px;
    margin-bottom: 80px;
    margin-top: 40px;
}

.formCadastro{
    padding: 16px;
}

.cardHeaderForm{
    grid-column: 1/-1;
}

.formInfosPessoais{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.formNomeIdade{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column: 1/-1;
    gap: 16px;
}

.formCpfCnpj{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 2;
    grid-column: 1/-1;
    gap: 16px;
}

.formContatos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.formCidadeUf{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 2;
    gap: 16px;
}

.formInfosAcademicas{
    display: grid;
    gap: 16px;
}

.formFormacao{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.formInfosProfissionais{
    display: grid;
    gap: 16px;
}

.formProfissao{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.formProjeto{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1;
    gap: 16px;
}

.formCat{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1;
    gap: 16px;
}

.formFooter{
    padding: 16px;
    display: flex;
    gap: 16px;
}

#btnCancel:hover{
    border-color: #894844;
    color: #894844;
}
