.contentContainer{
    height: 78.52%;
}

.tableContainer{
    background: #ffff;
    border-radius: 4px;
    margin-bottom: 80px;
    margin-top: 40px;
}

.toolbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#searchButton{
    background: #1CB5D5;
    min-width: 0px;
    padding: 4px;
}

.search{
    display: flex;
    align-items: center;
    gap: 4px;
}

#menuButton{
    background: #1CB5D5;
    min-width: 0px;
    padding: 8px;
}
