.footerContainer{
    height: 13.67%;
    background: #142C38;
}

.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    padding-top: 40px;
    padding-bottom: 40px;
}

.footer p{
    color: #ffff;
    font-family: 'Montserrat', sans-serif;
}